!!! 5
%head
  %meta{ :charset => "utf-8" }/
  %meta{'http-equiv'=>"Content-Language", :content=>"en-us"}/
  %title= @title || APP_CONFIG['title']
  %link{:href=>"/stylesheets/screen.css", :media=>"screen", :rel=>"stylesheet", :type=>"text/css"}/
%body
  .container.showgrid
    #header
      %h1#logo
        %a{:href => '/'}= APP_CONFIG['title']
    #body= yield
    #footer
      %p#legal= "&mdash; &copy; #{Time.now.strftime('%Y')}"